@font-face {
  font-family: "svgfont";
  src: url("svgfont.eot?t=1656069886053"); /* IE9*/
  src: url("svgfont.eot?t=1656069886053#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("svgfont.woff2?t=1656069886053") format("woff2"),
    url("svgfont.woff?t=1656069886053") format("woff"),
    url("fonts/svgfont.ttf?t=1656069886053") format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url("svgfont.svg?t=1656069886053#svgfont") format("svg"); /* iOS 4.1- */
}

[class^="svgfont-"],
[class*=" svgfont-"] {
  font-family: "svgfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svgfont-plus-circle:before {
  content: "\ea01";
}
